<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/amazeui.min.css" />
  <link rel="stylesheet" href="css/admin.css" />
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
<div class="admin-content-body">
  <div class="am-cf am-padding am-padding-bottom-0">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">订单信息管理</strong><small></small></div>
  </div>

  <hr>

  <div class="am-g">
    <div class="am-u-sm-12 am-u-md-6">
      <div class="am-btn-toolbar">
        <div class="am-btn-group am-btn-group-xs">
          <button id="add" type="button" class="btn btn-default" data-toggle="modal" data-target="#addWindows"><span class="am-icon-plus"></span> 新增</button>
        </div>
      </div>
    </div>

    <div class="am-u-sm-12 am-u-md-6">
      <div class="am-input-group am-input-group-sm">
        <form action="queryOrder.action" method="post">
          <input type="text" name="queryName1" class="am-form-field" placeholder="请输入订单编号" style="width: 150px;margin-right: 20px" th:value="${queryName1}">
          <input type="text" name="queryName2" class="am-form-field" placeholder="请输入客户编号" style="width: 150px;margin-right: 20px" th:value="${queryName2}">
          <input type="text" name="queryName3" class="am-form-field" placeholder="请输入药品编号" style="width: 150px" th:value="${queryName3}">




          <span class="am-input-group-btn">
                           <button class="am-btn am-btn-default" type="submit">搜索</button>
                   </span>
        </form>




      </div>
    </div>
  </div>
  <div class="am-g">
    <div class="am-u-sm-12">
      <form class="am-form">
        <table class="am-table am-table-striped am-table-hover table-main">
          <thead>
          <tr>

            <th>订单编号</th>
            <th>药品编号</th>
            <th>客户编号</th>
            <th>数目</th>
            <th>日期</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="order:${orderList}">
            <td th:text="${order.oid}"></td>
            <td th:text="${order.did}"></td>
            <td th:text="${order.cid}"></td>
            <td th:text="${order.osum}"></td>
            <td th:text="${order.oDate}"></td>
            <td>
              <div class="am-btn-toolbar">
                <div class="am-btn-group am-btn-group-xs">
                  <a class="btn btn-danger"> 删除</a>
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="am-cf">
          共 <p th:text="${num}" style="display: inline"></p> 条记录
          <div class="am-fr">
            <ul class="am-pagination">
              <li class="am-disabled">
                <a href="#">«</a>
              </li>
              <li class="am-active">
                <a href="#">1</a>
              </li>
              <li>
                <a href="#">2</a>
              </li>
              <li>
                <a href="#">3</a>
              </li>
              <li>
                <a href="#">4</a>
              </li>
              <li>
                <a href="#">5</a>
              </li>
              <li>
                <a href="#">»</a>
              </li>
            </ul>
          </div>
        </div>
        <hr>
      </form>
    </div>
  </div>
</div>


<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>



<!-- 添加模态框（Modal） -->
<div class="modal fade" id="addWindows" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="myModalLabel">
          添加订单
        </h4>
      </div>
      <form  action="addOrder.action" method="post" class="form-horizontal" role="form">
        <div class="modal-body">

          <div class="form-group">
            <label for="did" class="col-sm-2 control-label">药品编号</label>
            <div class="col-sm-10">
              <input type="text" name="did" class="form-control" id="did" placeholder="please input did">
            </div>
          </div>
          <div class="form-group">
            <label for="cid" class="col-sm-2 control-label">客户编号</label>
            <div class="col-sm-10">
              <input type="text" name="cid" class="form-control" id="cid" placeholder="please input cid">
            </div>
          </div>
          <div class="form-group">
            <label for="osum" class="col-sm-2 control-label">数目</label>
            <div class="col-sm-10">
              <input type="text" name="osum" class="form-control" id="osum" placeholder="please input osum">
            </div>
          </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭
          </button>
          <button type="submit" class="btn btn-primary">
            提交更改
          </button>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal -->
</div>






<script>


  $('.btn-danger').click(function (){
    // console.log($(this).parent().siblings());
    var id =  parseInt($(this).parents('td').siblings().eq(0).text());
    console.log(id,typeof(id));
    if (confirm("确定删除id:"+id+"订单?")) {
      //点击确定后操作
      $.ajax({
        type: 'get',
        url: 'deleteOrder.action?oid=' + id,
        success: function (data) {
          if (data===1){
            window.location.reload()
            alert("删除成功")
          }else{
            alert("删除失败")
          }
        }
      })
    }
  })

</script>



</body>
</html>